{
  "openapi": "3.0.1",
  "info": {
    "title": "PRO SHIPPING API",
    "description": "# Introduction\nHere you will find requirements for integrating with PRO SHIPPING API.\n\nThe documentation specifically covers how the API can be used by business customers to conduct shipping activity with available carriers and provides the technical information to build this integration. The API allows customers to create and manage shipments, produce labels, customs documentation, and collection manifests, retrieve reference data such as carriers and countries, and maintain their own data such as shipping account details.\n\nPro Shipping API is a fully RESTful service implemented using JSON messaging. You, as the customer are responsible for sending JSON messages and for maintaining the capability of receiving JSON messages in the format described in this specification. Request and response examples for each API service are included in this specification.\n\n# Authentication\n\nThe PRO SHIPPING API uses OAuth2 authentication.\n\nTo request the authorization token you need to create API credentials (Client ID and Secret) on the system first. If you have not done it already, log into your account and go to API Credentials or follow the link [add a link here with the path to the API Credentials menu]. Use the credentials to retrieve the authorization token.\n\nNote: Make sure you copy the Secret and keep it secure as you won't be able to view it again on the system.\n\n<!-- ReDoc-Inject: <SecurityDefinitions /> -->\n",
    "version": "v4.0-RM",
    "x-logo": {
      "url": "/Content/images/redoc-logo.png",
      "altText": "ReDoc"
    }
  },
  "servers": [
    {
      "url": "https://api.proshipping.net/",
      "description": "Pro Shipping Server"
    }
  ],
  "paths": {
    "/v4/shippingAccounts": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Accounts",
        "description": "Provides a list of all shipping accounts for all carriers (created on your customer account).\r<br />Information about the associated carrier, account number, account type, and contact details is included in the response.",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Search Term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By\r<br />Default: Name",
            "schema": {
              "$ref": "#/components/schemas/ShippingAccountsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction\r<br />Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of shipping accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingAccountsPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The page size must be 1 or greater.",
      "Cause": "pageSize",
      "ErrorCode": "E1002"
    },
    {
      "Message": "The page number must be 1 or greater.",
      "Cause": "pageNumber",
      "ErrorCode": "E1002"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Carrier Accounts",
        "description": "Provides a list of Royal Mail shipping accounts only.\r<br />Information about the account number, account type, and contact details is included in the response.",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Search Term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By\r<br />Default: Name",
            "schema": {
              "$ref": "#/components/schemas/ShippingAccountsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction\r<br />Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of shipping accounts for the given carrier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailShippingAccountShippingAccountsPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The page size must be 1 or greater.",
      "Cause": "pageSize",
      "ErrorCode": "E1002"
    },
    {
      "Message": "The page number must be 1 or greater.",
      "Cause": "pageNumber",
      "ErrorCode": "E1002"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Add Account",
        "description": "Add a shipping account for Royal Mail and link it with an existing shipping location.\r<br />Ensure to have required carrier details ready like Royal Mail account number, Posting Location, OBA access codes and receiving hub, so that you can use the account for shipping with Royal Mail.",
        "requestBody": {
          "description": "Add Shipping Account Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailAddShippingAccountRequest"
              },
              "examples": {
                "Add account to existing location": {
                  "value": {
  "AccountNumber": "9912347707",
  "AccountType": "Sandbox",
  "AccountName": "AB VideoGames",
  "AccountAlias": "RM-99112347707",
  "ContactName": "John Smith",
  "ContactNumber": "0123456789",
  "AccountRegisteredEmail": "my.email@example.com",
  "ShippingLocations": [
    {
      "PostingLocationCode": "2345654321",
      "ObaAccessCode": "123456",
      "ReceivingHubCode": "002610",
      "ShippingLocationId": "62977cc6-11ea-4315-bf44-e0b0588049ff"
    }
  ]
}
                },
                "Add account at new location": {
                  "value": {
  "AccountNumber": "9912347707",
  "AccountType": "Sandbox",
  "AccountName": "AB VideoGames",
  "AccountAlias": "RM-99112347707",
  "ContactName": "John Smith",
  "ContactNumber": "0123456789",
  "AccountRegisteredEmail": "my.email@example.com",
  "ShippingLocations": [
    {
      "PostingLocationCode": "2345654321",
      "ObaAccessCode": "123456",
      "ReceivingHubCode": "002610",
      "ShippingLocation": {
        "LocationAlias": "Main Warehouse",
        "Timezone": "Europe/London",
        "IsDefaultLocation": false,
        "Address": {
          "ContactPhone": "07123887422",
          "Line1": "Brown Cottage",
          "Line2": "10 Sky Lane",
          "Line3": "Hills End",
          "Town": "Christchurch",
          "Postcode": "TW20 0HJ",
          "County": "Surrey",
          "CountryCode": "GB"
        }
      }
    }
  ]
}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddShippingAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The account alias is required.",
      "Cause": "AccountAlias",
      "ErrorCode": "E1001"
    },
    {
      "Message": "Customer is Restricted to Sandbox.",
      "Cause": "AccountType",
      "ErrorCode": "E1003"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Account",
        "description": "Provides details for a Royal Mail account.\r<br />Information about the account number, alias, account type, and contact details is included in the response.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />PRO SHIPPING Shipping Account Id (assigned by PRO SHIPPING) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the shipping account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailShippingAccount"
                }
              }
            }
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Update Account",
        "description": "Update shipping account details.\r<br />Note: All required fields must be populated in the request, regardless if they need updating or not.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />PRO SHIPPING Shipping Account Id (assigned by PRO SHIPPING) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Account Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailUpdateShippingAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was updated successfully."
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The account alias is required.",
      "Cause": "AccountAlias",
      "ErrorCode": "E1001"
    },
    {
      "Message": "Customer is Restricted to Sandbox.",
      "Cause": "AccountType",
      "ErrorCode": "E1003"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}/linkLocations": {
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Link Locations",
        "description": "Link one or more shipping locations with a Royal Mail shipping account.\r<br />Ensure to have required carrier details ready: Royal Mail Posting Location number, OBA access codes and receiving hub, so that you can link it successfully.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />PRO SHIPPING Shipping Account Id (assigned by PRO SHIPPING) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Locations\r\nThe locations to associate with this shipping account.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RoyalMailLinkShippingAccountLocation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping location(s) have been linked to the account successfully."
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The shipping location was not found",
      "Cause": "[2].ShippingLocationId",
      "ErrorCode": "E1004"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}/shippingLocations": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Locations",
        "description": "Provides a list of all shipping locations associated with a Royal Mail shipping account.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />PRO SHIPPING Shipping Account Id (assigned by PRO SHIPPING) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Search Term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By\r<br />Default: Name",
            "schema": {
              "$ref": "#/components/schemas/ShippingLocationsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction\r<br />Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of associated shipping locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailViewShippingAccountLocationShippingLocationsForAccountPagedResponse"
                }
              }
            }
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The page size must be 1 or greater.",
      "Cause": "pageSize",
      "ErrorCode": "E1002"
    },
    {
      "Message": "The page number must be 1 or greater.",
      "Cause": "pageNumber",
      "ErrorCode": "E1002"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}/shippingLocations/{shippingLocationId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Location",
        "description": "Provides information for a specific shipping location linked to a Royal Mail shipping account including location alias, Royal Mail specific details, timezone, address, when it was last updated, and by who.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />PRO SHIPPING Shipping Account Id (assigned by PRO SHIPPING) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingLocationId",
            "in": "path",
            "description": "Shipping Location Identifier\r<br />PRO SHIPPING Shipping Location Id (assigned by PRO SHIPPING) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the associated shipping location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailViewShippingAccountLocationShippingLocationForAccount"
                }
              }
            }
          },
          "404": {
            "description": "The shipping location was not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Update Associated Location",
        "description": "Update a shipping location associated with a specific Royal Mail shipping account with carrier specific details like Posting Location, OBA access code and receiving hub.\r<br />Note: All required fields must be populated in the request, regardless if they need updating or not.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />PRO SHIPPING Shipping Account Id (assigned by PRO SHIPPING) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingLocationId",
            "in": "path",
            "description": "Shipping Location Identifier\r<br />PRO SHIPPING Shipping Location Id (assigned by PRO SHIPPING) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Location Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailUpdateShippingAccountLocation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updates the shipping location"
          },
          "404": {
            "description": "The shipping location was not found."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The posting location code is required.",
      "Cause": "PostingLocationCode",
      "ErrorCode": "E1001"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shippingAccounts/{carrierCode}/{shippingAccountId}/unlinkLocations": {
      "put": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Unlink Locations",
        "description": "Unlink one or more shipping location from a specific carrier shipping account.",
        "parameters": [
          {
            "name": "carrierCode",
            "in": "path",
            "description": "Carrier Code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />PRO SHIPPING Shipping Account Id (assigned by PRO SHIPPING) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Locations\r\nThe locations to remove from the account.\r\nAt least one location must be provided.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShippingLocationIdRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The location(s) have been unlinked from the shipping account successfully."
          },
          "404": {
            "description": "The shipping account or location was not found."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "There must be at least one location associated with the shipping account. You cannot unlink all shipping locations.",
      "Cause": "ShippingLocationIds",
      "ErrorCode": "E1002"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shippingAccounts/{carrierCode}/{shippingAccountId}": {
      "delete": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Delete Account",
        "description": "Delete a specific shipping account.",
        "parameters": [
          {
            "name": "carrierCode",
            "in": "path",
            "description": "Carrier Code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />PRO SHIPPING Shipping Account Id (assigned by PRO SHIPPING) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The shipping account was deleted successfully."
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shipments/rm": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Create Shipment",
        "description": "Create a Royal Mail shipment. This will return an image of the shipping label in PDF, PNG or ZPL format.",
        "requestBody": {
          "description": "Shipment Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailShipmentRequestCarrierSpecificsRoyalMailPackageRoyalMailLabelFormatCreateShipmentRequest"
              },
              "examples": {
                "Domestic - Basic Fields": {
                  "value": {
  "ShipmentInformation": {
    "ContentType": "NDX",
    "ServiceCode": "CRL1",
    "DescriptionOfGoods": "Clothes",
    "ShipmentDate": "2023-11-04",
    "WeightUnitOfMeasure": "KG",
    "DimensionsUnitOfMeasure": "CM"
  },
  "Shipper": {
    "ShippingAccountId": "8d87bc48-e23f-4eeb-9486-a4f6cb8ea02e",
    "Reference1": "OrderRef56"
  },
  "Destination": {
    "Address": {
      "ContactName": "John Smith",
      "ContactEmail": "john.smith@example.com",
      "ContactPhone": "07123456789",
      "Line1": "10 Sky Road",
      "Town": "Woking",
      "Postcode": "GU21 4TE",
      "CountryCode": "GB"
    }
  },
  "Packages": [
    {
      "PackageType": "Parcel",
      "DeclaredWeight": 1.5
    }
  ]
}
                },
                "Domestic - All Fields": {
                  "value": {
  "CarrierSpecifics": {
    "ServiceLevel": "01",
    "EbayVtn": "ebay1234abc",
    "ServiceEnhancements": [
      {
        "Code": "Signed"
      }
    ]
  },
  "ShipmentInformation": {
    "Action": "Process",
    "LabelFormat": "PDF",
    "ContentType": "NDX",
    "ServiceCode": "CRL1",
    "DescriptionOfGoods": "Clothes",
    "ShipmentDate": "2023-11-04",
    "CurrencyCode": "GBP",
    "WeightUnitOfMeasure": "KG",
    "DimensionsUnitOfMeasure": "CM"
  },
  "Shipper": {
    "ShippingAccountId": "534cdc8c-6b30-4c05-89ae-33d62b1a751b",
    "ShippingLocationId": "708a1cad-67a7-4e2a-a0bc-a302eba819e7",
    "Reference1": "OrderRef56",
    "DepartmentNumber": "0123456789",
    "EoriNumber": "GB213456789000",
    "VatNumber": "GB213456789",
    "Address": {
      "ContactName": "Jane Smith",
      "CompanyName": "Company & Co.",
      "ContactEmail": "email@server.com",
      "ContactPhone": "607723456789",
      "Line1": "Level 5",
      "Line2": "Hashmoore House",
      "Line3": "10 Sky Lane",
      "Town": "Leatherhead",
      "Postcode": "AA34 3AB",
      "County": "Surrey",
      "CountryCode": "GB"
    }
  },
  "Destination": {
    "EoriNumber": "GB123456789000",
    "VatNumber": "GB123456789",
    "Address": {
      "ContactName": "John Smith",
      "ContactEmail": "john.smith@example.com",
      "ContactPhone": "07123456789",
      "Line1": "10 Sky Road",
      "Town": "Woking",
      "Postcode": "GU21 4TE",
      "CountryCode": "GB"
    }
  },
  "Packages": [
    {
      "PackageType": "Parcel",
      "PackageOccurrence": 1,
      "DeclaredWeight": 1.5,
      "Dimensions": {
        "Length": 40.0,
        "Width": 30.0,
        "Height": 20.0
      }
    }
  ],
  "Items": [
    {
      "SkuCode": "SKU123",
      "PackageOccurrence": 1,
      "Quantity": 1,
      "Description": "White Mens Large T-shirt",
      "Value": 19.99,
      "Weight": 0.5,
      "HSCode": "995854",
      "CountryOfOrigin": "CN"
    },
    {
      "SkuCode": "SKU456",
      "PackageOccurrence": 1,
      "Quantity": 2,
      "Description": "Black Mens Large Jumper",
      "Value": 32.99,
      "Weight": 0.3,
      "HSCode": "483567",
      "CountryOfOrigin": "CN"
    }
  ],
  "ReturnToSender": {
    "Address": {
      "ContactName": "Jane Smith",
      "CompanyName": "Company & Co.",
      "ContactEmail": "email@server.com",
      "ContactPhone": "07723456789",
      "Line1": "Level 5",
      "Line2": "Hashmoore House",
      "Line3": "10 Sky Lane",
      "Town": "Leatherhead",
      "Postcode": "AA34 3AB",
      "County": "Surrey",
      "CountryCode": "GB"
    }
  }
}
                },
                "International - Basic Fields": {
                  "value": {
  "ShipmentInformation": {
    "ContentType": "NDX",
    "ServiceCode": "OLA",
    "DescriptionOfGoods": "Clothing",
    "ShipmentDate": "2023-11-04",
    "CurrencyCode": "GBP",
    "WeightUnitOfMeasure": "KG",
    "DimensionsUnitOfMeasure": "MM"
  },
  "Shipper": {
    "ShippingAccountId": "48b3b420-6935-447f-92c9-c53b001842aa",
    "Reference1": "OrderRef56"
  },
  "Destination": {
    "Address": {
      "ContactName": "John Smith",
      "ContactEmail": "john.smith@example.com",
      "ContactPhone": "07123456789",
      "Line1": "10 Sky Road",
      "Town": "Sydney",
      "Postcode": "2000",
      "County": "NSW",
      "CountryCode": "AU"
    }
  },
  "Packages": [
    {
      "PackageType": "Parcel",
      "DeclaredWeight": 1.5,
      "DeclaredValue": 98.99
    }
  ],
  "Items": [
    {
      "SkuCode": "SKU123",
      "Quantity": 1,
      "Description": "White Mens Large T-shirt",
      "Value": 19.99,
      "Weight": 0.5,
      "HSCode": "015243",
      "CountryOfOrigin": "IT"
    },
    {
      "SkuCode": "SKU456",
      "Quantity": 2,
      "Description": "Black Mens Large Jumper",
      "Value": 32.99,
      "Weight": 0.3,
      "HSCode": "548321",
      "CountryOfOrigin": "FR"
    }
  ],
  "Customs": {
    "ReasonForExport": "Sale of Goods",
    "Incoterms": "DDU"
  }
}
                },
                "International - All Fields": {
                  "value": {
  "CarrierSpecifics": {
    "ServiceLevel": "02",
    "EbayVtn": "ebay1234abc",
    "ServiceEnhancements": [
      {
        "Code": "CustomsEmail"
      },
      {
        "Code": "CustomsPhone"
      }
    ]
  },
  "ShipmentInformation": {
    "Action": "Process",
    "LabelFormat": "PDF",
    "ContentType": "NDX",
    "ServiceCode": "OLA",
    "DescriptionOfGoods": "Clothing",
    "ShipmentDate": "2023-11-04",
    "CurrencyCode": "GBP",
    "WeightUnitOfMeasure": "KG",
    "DimensionsUnitOfMeasure": "MM"
  },
  "Shipper": {
    "ShippingAccountId": "4cdecb70-870f-4aa0-b97a-f17e22837c13",
    "ShippingLocationId": "2f7428f8-12f6-4323-a812-142e08a9834d",
    "Reference1": "OrderRef56",
    "DepartmentNumber": "0123456789",
    "EoriNumber": "GB213456789000",
    "VatNumber": "GB213456789",
    "Address": {
      "ContactName": "Jane Smith",
      "CompanyName": "Company & Co.",
      "ContactEmail": "email@server.com",
      "ContactPhone": "607723456789",
      "Line1": "Level 5",
      "Line2": "Hashmoore House",
      "Line3": "10 Sky Lane",
      "Town": "Leatherhead",
      "Postcode": "AA34 3AB",
      "County": "Surrey",
      "CountryCode": "GB"
    }
  },
  "Destination": {
    "EoriNumber": "GB123456789000",
    "VatNumber": "GB123456789",
    "Address": {
      "ContactName": "John Smith",
      "ContactEmail": "john.smith@example.com",
      "ContactPhone": "07123456789",
      "Line1": "10 Sky Road",
      "Town": "Sydney",
      "Postcode": "2000",
      "County": "NSW",
      "CountryCode": "AU"
    }
  },
  "Packages": [
    {
      "PackageType": "Parcel",
      "PackageOccurrence": 1,
      "DeclaredWeight": 1.5,
      "DeclaredValue": 98.99,
      "Dimensions": {
        "Length": 40.0,
        "Width": 30.0,
        "Height": 20.0
      }
    }
  ],
  "Items": [
    {
      "SkuCode": "SKU123",
      "PackageOccurrence": 1,
      "Quantity": 1,
      "Description": "White Mens Large T-shirt",
      "Value": 19.99,
      "Weight": 0.5,
      "HSCode": "015243",
      "CountryOfOrigin": "CN"
    },
    {
      "SkuCode": "SKU456",
      "PackageOccurrence": 1,
      "Quantity": 2,
      "Description": "Black Mens Large Jumper",
      "Value": 32.99,
      "Weight": 0.3,
      "HSCode": "548321",
      "CountryOfOrigin": "CN"
    }
  ],
  "Customs": {
    "ReasonForExport": "Sale Of Goods",
    "Incoterms": "DDU",
    "PreRegistrationNumber": "0123456789",
    "PreRegistrationType": "GST",
    "ShippingCharges": 55.82,
    "OtherCharges": 32.00,
    "QuotedLandedCost": 82.74,
    "InvoiceNumber": "INV-12345",
    "InvoiceDate": "2023-11-04",
    "ExportLicenceRequired": false,
    "Airn": "231.002.999-00"
  },
  "ReturnToSender": {
    "Address": {
      "ContactName": "Jane Smith",
      "CompanyName": "Company & Co.",
      "ContactEmail": "email@server.com",
      "ContactPhone": "07723456789",
      "Line1": "Level 5",
      "Line2": "Hashmoore House",
      "Line3": "10 Sky Lane",
      "Town": "Leatherhead",
      "Postcode": "AA34 3AB",
      "County": "Surrey",
      "CountryCode": "GB"
    }
  }
}
                },
                "Offline Barcode": {
                  "value": {
  "CarrierSpecifics": {
    "ServiceEnhancements": [],
    "OfflineBarcodes": [
      {
        "PackageOccurrence": 1,
        "TrackingNumber": "TK000505009GB",
        "UniqueId": "4C006978600000074B117"
      },
      {
        "PackageOccurrence": 2,
        "TrackingNumber": "TK000568026GB",
        "UniqueId": "4C006978600000074B125"
      }
    ]
  },
  "ShipmentInformation": {
    "Action": "Process",
    "ContentType": "NDX",
    "ServiceCode": "CRL1",
    "DescriptionOfGoods": "Clothes",
    "CurrencyCode": "GBP"
  },
  "Shipper": {
    "ShippingAccountId": "52beef3b-d8e5-4575-b167-69f5e76a4d50",
    "Reference1": "OrderRef56"
  },
  "Destination": {
    "Address": {
      "ContactName": "John Smith",
      "ContactEmail": "john.smith@example.com",
      "ContactPhone": "07123456789",
      "Line1": "10 Sky Road",
      "Town": "Woking",
      "Postcode": "GU21 4TE",
      "CountryCode": "GB"
    }
  },
  "Packages": [
    {
      "PackageType": "Parcel",
      "PackageOccurrence": 1,
      "DeclaredWeight": 1.5,
      "DeclaredValue": 98.99,
      "Dimensions": {
        "Length": 40.0,
        "Width": 30.0,
        "Height": 20.0
      }
    },
    {
      "PackageType": "Parcel",
      "PackageOccurrence": 2,
      "DeclaredWeight": 1.5,
      "DeclaredValue": 98.99,
      "Dimensions": {
        "Length": 40.0,
        "Width": 30.0,
        "Height": 20.0
      }
    }
  ]
}
                },
                "Pre-Allocated Tracking Number": {
                  "value": {
  "CarrierSpecifics": {
    "ServiceEnhancements": [
      {
        "Code": "Signed"
      }
    ],
    "PreAllocatedTrackingNumber": "TT123456789GB"
  },
  "ShipmentInformation": {
    "Action": "Process",
    "ContentType": "NDX",
    "ServiceCode": "CRL1",
    "DescriptionOfGoods": "Clothes"
  },
  "Shipper": {
    "ShippingAccountId": "35",
    "Reference1": "OrderRef56"
  },
  "Destination": {
    "Address": {
      "ContactName": "John Smith",
      "ContactEmail": "john.smith@example.com",
      "ContactPhone": "07123456789",
      "Line1": "10 Sky Road",
      "Town": "Woking",
      "Postcode": "GU21 4TE",
      "CountryCode": "GB"
    }
  },
  "Packages": [
    {
      "PackageType": "Parcel",
      "PackageOccurrence": 1,
      "DeclaredWeight": 1.5,
      "DeclaredValue": 98.99,
      "Dimensions": {
        "Length": 40.0,
        "Width": 30.0,
        "Height": 20.0
      }
    }
  ]
}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipment was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailLabelFormatRoyalMailShipmentResponseCarrierSpecificsPackageResponseCreateShipmentResponse"
                },
                "examples": {
                  "Create": {
                    "value": {
  "Packages": [
    {
      "PackageOccurrence": 1,
      "ShipmentId": "6aa500ae-b1ca-4475-86d2-8404a04076f2"
    }
  ]
}
                  },
                  "Allocate": {
                    "value": {
  "Packages": [
    {
      "CarrierDetails": {
        "UniqueId": "3A07033860010000B2268"
      },
      "PackageOccurrence": 1,
      "ShipmentId": "39d040cf-7065-4f7d-a047-04b36c1ffc78",
      "TrackingNumber": "TT123456785GB",
      "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB"
    }
  ]
}
                  },
                  "Process - PDF": {
                    "value": {
  "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
  "LabelFormat": "PDF",
  "Packages": [
    {
      "CarrierDetails": {
        "UniqueId": "3A07033860010000B2268"
      },
      "PackageOccurrence": 1,
      "ShipmentId": "e17247d0-dc35-4895-ad66-bf81d2153c5a",
      "TrackingNumber": "TT123456785GB",
      "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB"
    }
  ]
}
                  },
                  "Process - DATASTREAM": {
                    "value": {
  "LabelFormat": "DATASTREAM",
  "Packages": [
    {
      "CarrierDetails": {
        "UniqueId": "3A07033860010000B2268",
        "DataStreamDetails": {
          "Primary2DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
          "Primary2DBarcodeData": "u1PKCw0KGgoAAAANSUhE.....GgAAABoAQMAAAAn0ifiAAAA",
          "FormattedUniqueId": "3A-070 338 6001-000 0B2 000",
          "GazetteerCodes": {
            "Part1": "L55",
            "Part2": "G43"
          },
          "Primary1DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
          "Primary1DBarcodeData": "TT123456785GB"
        }
      },
      "PackageOccurrence": 1,
      "ShipmentId": "686ff346-ed83-4085-8ecc-47e0fa303842",
      "TrackingNumber": "TT123456785GB",
      "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB"
    }
  ]
}
                  }
                }
              }
            }
          },
          "404": {
            "description": "The carrier was not found."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The name maximum length is 50 characters.",
      "Cause": "Destination.Address.ContactName",
      "ErrorCode": "E1002"
    },
    {
      "Message": "The service code is required.",
      "Cause": "ShipmentInformation.ServiceCode",
      "ErrorCode": "E1001"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shipments/printLabel/rm/{shipmentId}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Print Label",
        "description": "This changes the status of the shipment to label printed. This should be done at the time of actual printing or label creation dependent on how you operate in reality. Shipments must be updated to printed status prior to manifesting.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "Shipment Id\r<br />The Shipment Id may be an id or a tracking/barcode number.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "labelFormat",
            "in": "query",
            "description": "Label Format\r<br />            \r<br />**PDF** Base 64 encoded PDF\r<br />**PNG** Base 64 encoded PNG\r<br />**DATASTREAM** - Label components broken down into a data-stream, for you to draw your own label\r<br />**ZPL203DPI** Base 64 encoded text for Zebra printer at 203 DPI\r<br />**ZPL300DPI** Base 64 encoded text for Zebra printer at 300 DPI\r<br />            \r<br />*DATASTREAM is only available if it has been activated on your account.*\r<br />            \r<br />Defaults To PDF",
            "schema": {
              "$ref": "#/components/schemas/RoyalMailLabelFormat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the printed label in the format specified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailLabelFormatRoyalMailShipmentResponseCarrierSpecificsPrintLabelResponse"
                },
                "examples": {
                  "PDF": {
                    "value": {
  "ShipmentId": "00000000-0000-0000-0000-000000000000",
  "TrackingNumber": "TT123456785GB",
  "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB",
  "Label": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
  "LabelFormat": "PDF",
  "CarrierDetails": {
    "UniqueId": "3A07033860010000B2268"
  }
}
                  },
                  "DATASTREAM": {
                    "value": {
  "ShipmentId": "00000000-0000-0000-0000-000000000000",
  "TrackingNumber": "TT123456785GB",
  "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB",
  "LabelFormat": "DATASTREAM",
  "CarrierDetails": {
    "UniqueId": "3A07033860010000B2268",
    "DataStreamDetails": {
      "Primary2DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
      "Primary2DBarcodeData": "u1PKCw0KGgoAAAANSUhE.....GgAAABoAQMAAAAn0ifiAAAA",
      "FormattedUniqueId": "3A-070 338 6001-000 0B2 000",
      "GazetteerCodes": {
        "Part1": "L55",
        "Part2": "G43"
      },
      "Primary1DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
      "Primary1DBarcodeData": "TT123456785GB"
    }
  }
}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The shipment has already been manifested and cannot be reprinted.",
      "Cause": "ShipmentStatus",
      "ErrorCode": "E1003"
    }
  ]
}
              }
            }
          },
          "404": {
            "description": "The shipment was not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shipments/printMyLabelQRCode/rm/{shipmentId}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Print My Label QR Code",
        "description": "Request associated QR Code for the associated label in the print label call.\r<br />This is only available for Royal Mail Tracked Return Services.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "Shipment Id\r<br />The Shipment Id may be an id or a tracking/barcode number.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the printed QR Code as a Base 64 encoded PNG.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QRCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The service code for this shipment does not support QR Code generation",
      "Cause": "ShipmentId",
      "ErrorCode": "E1002"
    }
  ]
}
              }
            }
          },
          "404": {
            "description": "The shipment was not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shipments/{shippingLocationId}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get Shipments",
        "description": "Provides a list of shipments for the specified shipping location in a given time period.",
        "parameters": [
          {
            "name": "shippingLocationId",
            "in": "path",
            "description": "Shipping Location Id\r<br />PRO SHIPPING Shipping Location Id (assigned by PRO SHIPPING) or Alias (assigned by you).\r<br />Filter by shipping location.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingAccountId",
            "in": "query",
            "description": "Shipping Account Id\r<br />PRO SHIPPING Shipping Account Id (assigned by PRO SHIPPING) or Alias (assigned by you).\r<br />Filter by shipping account.",
            "schema": {
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "name": "carrierCode",
            "in": "query",
            "description": "Carrier Code\r<br />If shippingAccountId and carrier are both provided, then the value sent in the carrier field will be ignored and the carrier associated with the shipping account will be used.",
            "schema": {
              "maxLength": 4,
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status\r<br />Filter by shipment status.",
            "schema": {
              "$ref": "#/components/schemas/GetShipmentsStatusType"
            }
          },
          {
            "name": "destinationCountryCode",
            "in": "query",
            "description": "Country Code\r<br />ISO Alpha-2 Country Code per ISO 3166 Standard.",
            "schema": {
              "maxLength": 2,
              "minLength": 2,
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Date From\r<br />Defaults to Today's date if not provided.\r<br />Format: YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Date To\r<br />Defaults to Today's date if not provided.\r<br />Format: YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of shipments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentsPagedResponse"
                },
                "example": {
  "Shipments": [
    {
      "ShippingAccountId": "310d6beb-ae36-40e7-918f-f92100c1719d",
      "ShipmentId": "9d171814-2abc-4c13-8c78-a3330a5cc0ee",
      "TrackingNumber": "TT000000005GB",
      "BarcodeNumber": "4C0069786000000000B1F",
      "Reference1": "OrderRef56",
      "ShipmentDate": "2023-11-04",
      "Status": "Created",
      "ManifestNumber": "ISH2802532",
      "ContainerId": "South East 1234",
      "Carrier": "RM",
      "DestinationCountryCode": "GB",
      "LastUpdatedBy": "User A",
      "LastUpdatedDateUtc": "2023-11-04T08:57:40.449Z"
    },
    {
      "ShippingAccountId": "310d6beb-ae36-40e7-918f-f92100c1719d",
      "ShipmentId": "9d171814-2abc-4c13-8c78-a3330a5cc0ee",
      "TrackingNumber": "",
      "BarcodeNumber": "",
      "Reference1": "OrderRef57",
      "ShipmentDate": "2023-11-04",
      "Status": "LabelPrinted",
      "ManifestNumber": "",
      "ContainerId": "",
      "Carrier": "RM",
      "DestinationCountryCode": "GB",
      "LastUpdatedBy": "User B",
      "LastUpdatedDateUtc": "2023-11-04T08:57:40.449Z"
    }
  ],
  "TotalCount": 2
}
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The page size must be 1 or greater.",
      "Cause": "pageSize",
      "ErrorCode": "E1002"
    },
    {
      "Message": "The page number must be 1 or greater.",
      "Cause": "pageNumber",
      "ErrorCode": "E1002"
    }
  ]
}
              }
            }
          },
          "404": {
            "description": "The shipping location was not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shipments/printDocument/{carrierCode}/{shipmentId}": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Print Document",
        "description": "Request the associated Customs Documents for the printed label.",
        "parameters": [
          {
            "name": "carrierCode",
            "in": "path",
            "description": "Carrier Code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "Shipment Id\r<br />The Shipment Id may be an id or a tracking/barcode number.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Print Document Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the specified document for the given shipment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The number of copies must be between 1 and 5.",
      "Cause": "numCopies",
      "ErrorCode": "E1002"
    }
  ]
}
              }
            }
          },
          "404": {
            "description": "The shipment was not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shipments/status": {
      "put": {
        "tags": [
          "Shipments"
        ],
        "summary": "Update Status",
        "description": "**Hold** - Put the shipments on hold for up to 28 days. Shipments on hold for longer than 28 days will be cancelled. A shipment on hold will not be included in an closeouts/manifests, but instead will remain in its current state. You can only put shipments on hold that are in the 'LabelPrinted' status as only shipments with this status are included in manifests.\r<br />            \r<br />**Cancel** - Use to cancel/void one or more current shipments. This can only be used before a shipment has been confirmed by being manifested.\r<br />            \r<br />**Release** - Use to release shipments from hold and shipments cancelled for less than 24 hours. Once released, the shipment will be included in the next manifest.\r<br />            \r<br />**Picked** - Set the shipment to picked. This means this shipment will only be manifested if you choose to manifest 'Picked' shipments.",
        "requestBody": {
          "description": "Update Status Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStatusRequest"
              },
              "example": {
  "Status": "Cancel",
  "Reason": "Order Cancelled",
  "ShipmentIds": [
    "TT123456783GB",
    "e3239e85-ddf8-4323-9064-b83c38eff927",
    "072d80e4-8f9f-42e4-9c03-6b81a3597ce6",
    "e9848731-e65c-4a9b-a86d-bbbbfbe7d93a",
    "d8d6ca51-a0d1-4dc1-845d-f24ea2dc117d",
    "TT382749386GB",
    "3A00697860000000B6824"
  ]
}
            }
          }
        },
        "responses": {
          "200": {
            "description": "All shipments were updated successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The reason is required when cancelling shipments.",
      "Cause": "Reason",
      "ErrorCode": "E1001"
    },
    {
      "Message": "The shipment has already been manifested and cannot be cancelled.",
      "Cause": "ShipmentIds[7]",
      "ErrorCode": "E1003"
    },
    {
      "Message": "The shipment does not exist.",
      "Cause": "ShipmentIds[10]",
      "ErrorCode": "E1004"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shipments/defer": {
      "put": {
        "tags": [
          "Shipments"
        ],
        "summary": "Defer Shipments",
        "description": "Used to update the shipment shipping data for a current shipment.\r<br />A shipment can be deferred by a maximum of 28 days from the date of the request.\r<br />This service can only be used before the shipment has been manifested.\r<br />There can be a maximum of 99 defer requests per call.",
        "requestBody": {
          "description": "Defer shipment requests",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeferShipmentRequest"
                }
              },
              "example": [
  {
    "ShipmentId": "AD123456783GB",
    "ShipmentDate": "2023-11-09"
  },
  {
    "ShipmentId": "e3239e85-ddf8-4323-9064-b83c38eff927",
    "ShipmentDate": "2023-11-14"
  }
]
            }
          }
        },
        "responses": {
          "200": {
            "description": "All shipments were deferred successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
  "Message": "Invalid Request",
  "Errors": [
    {
      "Message": "The Shipment Id is required.",
      "Cause": "[2].ShipmentId",
      "ErrorCode": "E1001"
    },
    {
      "Message": "The shipment is in an invalid state to be deferred.",
      "Cause": "[7].ShipmentId",
      "ErrorCode": "E1003"
    },
    {
      "Message": "The shipment does not exist.",
      "Cause": "[10].ShipmentId",
      "ErrorCode": "E1004"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/offlineBarcodeNumberRange/rm": {
      "post": {
        "tags": [
          "Offline Barcoding"
        ],
        "summary": "Get Barcode Range",
        "description": "Get barcode ranges for offline barcoding.\r<br />Offline Barcoding is only available if it has been activated on your customer account in the GUI.",
        "requestBody": {
          "description": "The request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailGetOfflineBarcodingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the offline barcode ranges successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoyalMailGetOfflineBarcodingResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v4/shipments/preallocateTrackingNumber/rm": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Pre Allocate Tracking Number",
        "description": "This service can be used to receive a Royal Mail Tracking Number that will be pre-allocated to the service and destination supplied in the request. No shipment or label will be produced from this service.\r<br />This service can only be used for services that are assigned a tracking number.\r<br />This service must be used in conjunction with CreateShipment service populating the TrackingNumber in the CarrierSpecifics /PreAllocatedBarcode section with the pre-allocated TrackingNumber returned in this service response.",
        "requestBody": {
          "description": "The request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreAllocateTrackingNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the pre allocated tracking number successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreAllocateTrackingNumberResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccountType": {
        "enum": [
          "Sandbox",
          "Production"
        ],
        "type": "string",
        "description": "Account Type\r<br />Sandbox shipping accounts can only be used for testing your integration.\r<br />Production accounts can be used to ship."
      },
      "AddShippingAccountLocationNewLocation": {
        "required": [
          "Address",
          "LocationAlias",
          "Timezone"
        ],
        "type": "object",
        "properties": {
          "LocationAlias": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "Shipping Location Alias\r<br />Your identifier for this shipping location",
            "example": "Main Warehouse"
          },
          "Timezone": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "Time zone",
            "example": "Europe/London"
          },
          "IsDefaultLocation": {
            "type": "boolean",
            "description": "Is Default Location\r<br />If true, this location is the default location used.\r<br />You must have 1 default location.\r<br />Set to false if not provided, or true if is the first location to be added.\r<br />If true, this will set this location as the default location.",
            "nullable": true,
            "example": false
          },
          "Address": {
            "$ref": "#/components/schemas/ShippingLocationAddress"
          }
        },
        "additionalProperties": false,
        "description": "Shipping Location\r<br />\r<br />Add a new shipping location to this account.\r<br />Either a Shipping Location Id must be provided, or the details of a new shipping location provided."
      },
      "AddShippingAccountResponse": {
        "type": "object",
        "properties": {
          "ShippingAccountId": {
            "type": "string",
            "description": "Shipping Account Id\r<br />The PRO SHIPPING Identifier assigned to this shipping account.",
            "format": "uuid"
          },
          "ShippingLocationId": {
            "type": "string",
            "description": "Shipping Location Id\r<br />The PRO SHIPPING Identifier assigned to the new location (only populated if new location added).",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Add Shipping Account Response"
      },
      "BusinessTransactionType": {
        "enum": [
          "B2C",
          "B2B",
          "D2C",
          "C2B"
        ],
        "type": "string",
        "description": "The Commercial Transaction type of the shipment.      \r<br />Valid values are:\r<br />**B2C** - Business to Consumer\r<br />**B2B** - Business to Business\r<br />**D2C** - Direct to Consumer\r<br />**C2B** - Consumer to Business (i.e. a Returns shipment)\r<br />Defaults to B2C if not populated."
      },
      "ContentType": {
        "enum": [
          "NDX",
          "DOX",
          "HV"
        ],
        "type": "string",
        "description": "Valid values are:\r<br />**NDX** - Non Documents\r<br />**DOX** - Documents\r<br />**HV** - Non Documents of High Value"
      },
      "CreateCollectionRequest": {
        "type": "object",
        "properties": {
          "SlotReservationId": {
            "type": "string",
            "description": "The SlotReservationId returned in the Get Collection Timeslots response",
            "nullable": true,
            "example": "99887654"
          },
          "SlotDate": {
            "type": "string",
            "description": "The collection date selected from the available slots in the Get Collection Timeslots response",
            "format": "date-time",
            "example": "2023-07-09"
          },
          "BringMyLabel": {
            "type": "boolean",
            "description": "If true, Royal Mail will bring the Label and Custom Declaration if required.\r<br />Defaults to false",
            "example": false
          }
        },
        "additionalProperties": false,
        "description": "Create Collection Request"
      },
      "CreateCollectionResponse": {
        "type": "object",
        "properties": {
          "CollectionOrderId": {
            "type": "string",
            "description": "The identifier for this collection",
            "nullable": true,
            "example": "CC-W307-028741033"
          },
          "CollectionDate": {
            "type": "string",
            "description": "The date the collection has been booked for",
            "format": "date-time",
            "example": "2023-07-04T00:00:00.000Z"
          }
        },
        "additionalProperties": false,
        "description": "Create Collection Response"
      },
      "CreateShipmentAction": {
        "enum": [
          "Process",
          "Create",
          "Allocate"
        ],
        "type": "string",
        "description": "Determines the shipment status that is set on shipment creation and whether a shipment tracking number and labels are generated.    \r<br />Valid values are: \r<br />**Process** - creates a shipment tracking number, creates and prints a label for each package in the shipment and returns the label(s) in the createShipment Response. The shipment status will be set to Ready to Manifest.\r<br />**Create** - creates the shipment but does not allocate a tracking number, print the label(s) or return the label(s) in the createShipment Response. The label(s) must be printed before the shipment is ready to manifest.\r<br />**Allocate** - creates the tracking number and label(s) but does not print the label(s) or return label(s) in the createShipment response. The label(s) must be printed before the shipment is ready to manifest.\r<br />Defaults to Process if not populated."
      },
      "Customs": {
        "type": "object",
        "properties": {
          "ReasonForExport": {
            "maxLength": 250,
            "type": "string",
            "description": "Used to provide the reason an international shipment is being sent e.g. Sale, Gift, Return etc. \r<br />Mandatory for Royal Mail international shipments and Yodel international shipments. \r<br />If there are no accepted values for the carrier stated below, any value can be provided in the field.\r<br />For shipments where the carrier is UPU affiliated and the service is a postal service, then only the following values are accepted:\r<br />**Gift**\r<br />**Commercial Sample**\r<br />**Documents**\r<br />**Sale of Goods**\r<br />**Return of Goods**\r<br />**Mixed Content**\r<br />**Other**\r<br />For Yodel shipments, only the following values are accepted:\r<br />**Sales**\r<br />**Gift**\r<br />**Sample**\r<br />**Personal**",
            "nullable": true,
            "example": "Sale of Goods"
          },
          "Incoterms": {
            "$ref": "#/components/schemas/TermsOfTrade"
          },
          "PreRegistrationNumber": {
            "maxLength": 50,
            "type": "string",
            "description": "Some countries operate a Tax Pre-Registration scheme (e.g., VOEC in Norway, GST in Australia). If you are registered for a Tax Pre-Registration scheme for the destination country and are shipping under the scheme rules then provide the pre-registration number for the destination country. \r<br />A pre-registration number is only relevant if the shipment Incoterms are DDU (Delivery Duty Unpaid).\r<br />If not provided and the shipment incoterms are set to DDU, any pre-registration numbers set up for your account in the Customs Settings GUI will be used.\r<br />**NOTE**: VAT and EORI numbers should be provided in the  Shipper VatNumber and Shipper EoriNumber fields, not in the preRegistrationNumber fields.",
            "nullable": true,
            "example": "0123456789"
          },
          "PreRegistrationType": {
            "maxLength": 18,
            "type": "string",
            "description": "The type of pre-registration number provided in the PreRegistrationNumber element.\r<br />Required if a pre-registration number has been provided.\r<br />Ignored if there is no pre-registration number.\r<br />**NOTE:** VAT and EORI numbers should be provided in the  Shipper VatNumber and Shipper EoriNumber fields, not in the preRegistrationNumber and PreRegistrationType fields",
            "nullable": true,
            "example": "GST"
          },
          "ShippingCharges": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "Shipping Charges for International Shipments.\r<br />The postage amount paid by the customer. The amount can be 0.00 if the customer has been offered free delivery.\r<br />Used for the calculation of customs fees.\r<br />Any value should be in the currency specified in the ShipmentInformation/Currency field.",
            "format": "double",
            "nullable": true,
            "example": 55.82
          },
          "OtherCharges": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "Insurance and Other Costs for International Shipments.\r<br />Used to declare any costs the customer has been charged in addition to the standard shipping cost, such as insurance.\r<br />This field can be left blank, or be 0.00 if no other charges have been levied.        \r<br />Any value should be in the currency specified in the ShipmentInformation/Currency field.",
            "format": "double",
            "nullable": true,
            "example": 32
          },
          "QuotedLandedCost": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "The total cost quoted to the customer for delivering the shipment. This includes shipping charges, other charges and any customs taxes and duties charges that were quoted.\r<br />Required for some international destinations when the shipment incoterms are DDP.\r<br />Any value should be in the currency specified in the ShipmentInformation/Currency field.",
            "format": "double",
            "nullable": true,
            "example": 82.74
          },
          "InvoiceNumber": {
            "maxLength": 35,
            "type": "string",
            "description": "Invoice Number for International Shipments.\r<br />When sending an item to an overseas address and a Commercial or Proforma invoice is available, the Invoice Number and Date should be provided where possible. This supports customs processing in certain circumstances.\r<br />Required if Invoice Date is provided.\r<br />If provided, this will be displayed on commercial invoices generated for the shipment.",
            "nullable": true
          },
          "InvoiceDate": {
            "type": "string",
            "description": "If not provided, defaults to today's date.\r<br />Ignored if no Invoice Number provided.\r<br />Accepted Format: YYYY-MM-DD",
            "format": "date",
            "nullable": true
          },
          "ExportLicenceRequired": {
            "type": "boolean",
            "description": "Used to flag shipments requiring an export license. \r<br />An export license is neeed for a specific type of goods used predominantly for military purposes.\r<br />You can find out more about the type of items requiring an export licence on the UK Government website.\r<br />If an export licence is required, it should be affixed to the outside of the package.",
            "nullable": true,
            "example": false
          },
          "Airn": {
            "maxLength": 20,
            "type": "string",
            "description": " The AIRN (Addressee Identification Reference Number) is the generic name given to a national identification number for the overseas recipient of an item.\r<br />The AIRN, when available, should be provided for items being exported to a destination where the customs/tax authority requests one. E.g. Russia and Brazil.",
            "nullable": true,
            "example": "231.002.999-00"
          }
        },
        "additionalProperties": false,
        "description": "Customs Information\r<br />Required for some international shipments, depending on the customs requirements of the destination country. \r<br />A shipment is considered to be international if the shipper country and destination country are different."
      },
      "DeferShipmentRequest": {
        "required": [
          "ShipmentDate",
          "ShipmentId"
        ],
        "type": "object",
        "properties": {
          "ShipmentId": {
            "maxLength": 36,
            "minLength": 1,
            "type": "string",
            "description": "Shipment Id\r<br />The shipment to apply the change to.\r<br />            \r<br />The Shipment Id may be an id or a tracking/barcode number.",
            "example": "AD123456783GB"
          },
          "ShipmentDate": {
            "type": "string",
            "description": "Shipment Date\r<br />The new date that the packages are being shipped.\r<br />The date must not be in the past and cannot be more than 28 days in the future.\r<br />            \r<br />Accepted Format: YYYY-MM-DD",
            "format": "date"
          }
        },
        "additionalProperties": false,
        "description": "Defer Shipment Request"
      },
      "Destination": {
        "required": [
          "Address"
        ],
        "type": "object",
        "properties": {
          "EoriNumber": {
            "maxLength": 17,
            "type": "string",
            "description": "Receiver's Economic Operators and Registration Identification (EORI) number, if applicable (i.e. if the receiver is a business). If a Receiver EORI number is used for the shipment, it must be provided here and not in the Customs element. \r<br />Receiver's EORI number starts with the ISO Alpha-2 Country Code followed by a maximum 15 alphanumeric characters. For Northern Ireland starts with XI",
            "nullable": true,
            "example": "GB 123 4567 89 000"
          },
          "VatNumber": {
            "maxLength": 15,
            "type": "string",
            "description": "Receiver's Value-Added Tax (VAT) number, if applicable (i.e. if the receiver is a business). If a Receiver VAT number is used for the shipment, it must be provided here and not in the Customs element.",
            "nullable": true,
            "example": "GB 123 4567 89"
          },
          "Address": {
            "$ref": "#/components/schemas/ShipmentAddress"
          }
        },
        "additionalProperties": false,
        "description": "Used to provide details of the shipment destination, such as receiver address and contact details"
      },
      "DestinationDetails": {
        "required": [
          "CountryCode"
        ],
        "type": "object",
        "properties": {
          "CountryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard.",
            "example": "GB"
          },
          "Postcode": {
            "maxLength": 20,
            "type": "string",
            "description": "Postcode / Zip\r<br />Required for United Kingdom addresses and some international addresses.\r<br />The Countries API can be used to check whether postcode/zip code is required for a country. \r<br />Up to 20 characters may be allowed, however it is carrier dependent and some carriers may allow less.\r<br />Royal Mail: 9 characters.",
            "nullable": true,
            "example": "TW20 0HJ"
          }
        },
        "additionalProperties": false,
        "description": "Destination Details"
      },
      "Dimensions": {
        "required": [
          "Height",
          "Length",
          "Width"
        ],
        "type": "object",
        "properties": {
          "Length": {
            "minimum": 0.1,
            "type": "number",
            "description": "The length of the shipment package in the unit of measure specified in the DimensionsUnitOfMeasure field (DimensionsUnitOfMeasure defaults to CM if not provided).\r<br />The maximum length accepted is dependent on the service and package type.",
            "format": "double",
            "example": 35
          },
          "Width": {
            "minimum": 0.1,
            "type": "number",
            "description": "The width of the shipment package in the unit of measure specified in the DimensionsUnitOfMeasure field (DimensionsUnitOfMeasure defaults to CM if not provided).\r<br />The maximum width accepted is dependent on the service and package type.",
            "format": "double",
            "example": 25
          },
          "Height": {
            "minimum": 0.1,
            "type": "number",
            "description": "The height of the shipment package in the unit of measure specified in the DimensionsUnitOfMeasure field (DimensionsUnitOfMeasure defaults to CM if not provided).\r<br />The maximum height accepted is dependent on the service and package type.",
            "format": "double",
            "example": 20
          }
        },
        "additionalProperties": false,
        "description": "The package dimensions.\r<br />**The presence of the Dimensions element in the request is optional, but if it is provided, then all of the fields in the element (width, length and height) must be populated.** The maximum dimensions accepted are dependent on the service and the package type."
      },
      "DimensionsUnitOfMeasure": {
        "enum": [
          "CM",
          "MM"
        ],
        "type": "string",
        "description": "The unit of measure used for all dimension values (e.g. Length, Width, Height).\r<br />Valid values are: CM, MM\r<br />Defaults to CM if not populated."
      },
      "DocumentFormat": {
        "enum": [
          "PDF",
          "PNG",
          "ZPL203DPI",
          "ZPL300DPI"
        ],
        "type": "string",
        "description": "Document Format\r<br />            \r<br />**PDF** Base 64 encoded PDF\r<br />**PNG** Base 64 encoded PNG\r<br />**ZPL203DPI** Base 64 encoded text for Zebra printer at 203 DPI\r<br />**ZPL300DPI** Base 64 encoded text for Zebra printer at 300 DPI\r<br />\r<br />Defaults To PDF"
      },
      "DocumentType": {
        "enum": [
          "CN23",
          "PI",
          "CI"
        ],
        "type": "string",
        "description": "Document Type \r<br />Defaults to CN23\r<br />\r<br />**CN23** CN23\r<br />**PI** Proforma Invoice\r<br />**CI** Commercial Invoice"
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "description": "Message\r<br />The error message, or issue.",
            "nullable": true,
            "example": "The first line of the address is required."
          },
          "Cause": {
            "type": "string",
            "description": "Cause\r<br />The cause of the error.",
            "nullable": true,
            "example": "Destination.Line1"
          },
          "ErrorCode": {
            "type": "string",
            "description": "Error Code\r<br />The error code for this error.<br /><br />**E1000** - System error<br />**E1001** - Required field<br />**E1002** - Invalid field<br />**E1003** - Invalid action<br />**E1004** - Item not found<br />",
            "nullable": true,
            "example": "E1001"
          }
        },
        "additionalProperties": false,
        "description": "Details about an error"
      },
      "ErrorResponse": {
        "required": [
          "Errors",
          "Message"
        ],
        "type": "object",
        "properties": {
          "Message": {
            "minLength": 1,
            "type": "string",
            "description": " Message\r<br />General reason as to why there is an error. Further details may be contained in the list of errors.",
            "example": "Invalid Request"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "description": "Errors\r<br />Details about why a request failed."
          }
        },
        "additionalProperties": false,
        "description": "An error response from a request."
      },
      "GetShipmentsStatusType": {
        "enum": [
          "Created",
          "OnHold",
          "Cancelled",
          "ReadyToPrint",
          "LabelPrinted",
          "Confirmed",
          "Picked"
        ],
        "type": "string",
        "description": "Get Shipments Status Type"
      },
      "Item": {
        "required": [
          "Quantity"
        ],
        "type": "object",
        "properties": {
          "SkuCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Stock Keeping Unit number of the item.",
            "nullable": true,
            "example": "C604-25-035"
          },
          "PackageOccurrence": {
            "maximum": 99,
            "minimum": 1,
            "type": "integer",
            "description": "Used to assign this item to a specific package.\r<br />The Package Occurrence provided here must exist on one of the packages in the Package element.       \r<br />Note: For dutiable multi-package shipments that are not using a consignment service, items must be assigned to a package so that accurate customs information is given.\r<br />Therefore, if the shipment contains more than one package, and it isn't using a consignment service, then Package Occurrence is required.",
            "format": "int32",
            "nullable": true,
            "example": 1
          },
          "Quantity": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "description": "The quantity of these items in the package.",
            "format": "int32",
            "example": 1
          },
          "Description": {
            "maxLength": 255,
            "type": "string",
            "description": "Description of the item. This must describe the specific item being shipped rather than the general nature of the goods e.g. 'skirt' instead of 'ladies clothing'. \r<br />\r<br />Required for dutiable shipments, unless the SKU Code of a stored product is provided. When the SKU Code of a stored product is provided, and this field is not provided, it will be populated from the stored product. If the SKU code of a stored product is provided, and this field is provided in the Create Shipment request, then the data provided in this field will be used instead of the data from the stored product.",
            "nullable": true,
            "example": "White Tee-shirt"
          },
          "Value": {
            "maximum": 9999999.99,
            "minimum": 0,
            "type": "number",
            "description": "The value of a single instance of the item, in the currency provided for the shipment in the CurrencyCode field.\r<br />\r<br />Required for dutiable shipments, unless the SKU Code of a stored product is provided. When the SKU Code of a stored product is provided, and this field is not provided, it will be populated from the stored product. If the SKU code of a stored product is provided, and this field is provided in the Create Shipment request, then the data provided in this field will be used instead of the data from the stored product.",
            "format": "double",
            "nullable": true,
            "example": 98.99
          },
          "Weight": {
            "maximum": 1000000,
            "minimum": 0,
            "type": "number",
            "description": "The weight of a single instance of the item, in the unit of measure provided in the WeightUnitOfMeasure element (defaults to KG).\r<br />For non-dutiable shipments, a weight of 0 is accepted. For dutiable shipments, an item weight of 1 gram or greater must be provided. \r<br />The maximum weight accepted is 1000 KG.\r<br />\r<br />Required for dutiable shipments, unless the SKU Code of a stored product is provided. When the SKU Code of a stored product is provided, and this field is not provided, it will be populated from the stored product. If the SKU code of a stored product is provided, and this field is provided in the Create Shipment request, then the data provided in this field will be used instead of the data from the stored product.",
            "format": "double",
            "nullable": true,
            "example": 145
          },
          "HSCode": {
            "type": "string",
            "description": "The Harmonized Commodity Description and Coding System Code.\r<br />Used by Customs to calculate potential duties and taxes.\r<br />May be required for dutiable shipments, depending on the carrier and destination country.\r<br />The number of characters required for the HS Code may vary depending on the service and destination country.\r<br />Dots and spaces in the HS Code are accepted.\r<br />For more information on HS Codes and to find the correct HS Codes for your items, see https://www.gov.uk/trade-tariff",
            "nullable": true,
            "example": "16010099"
          },
          "CountryOfOrigin": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Country the item was produced/manufactured in. \r<br />2 Digit ISO Country Code, per ISO 3166 Standard.\r<br />May be required on dutiable shipments, depending on the carrier and destination country.",
            "nullable": true,
            "example": "GB"
          }
        },
        "additionalProperties": false,
        "description": "Used to provide details of the items sent in the shipment package(s). \r<br />Item information is optional for domestic and non-dutiable shipments, but required for dutiable shipments. \r<br />If item information is provided, this element must be repeated for each unique item in the shipment."
      },
      "OrderDirection": {
        "enum": [
          "Ascending",
          "Descending"
        ],
        "type": "string",
        "description": "Order Direction"
      },
      "PreAllocateTrackingNumberRequest": {
        "required": [
          "ServiceCode",
          "ShippingAccountId"
        ],
        "type": "object",
        "properties": {
          "ShippingLocationId": {
            "maxLength": 36,
            "type": "string",
            "description": "Shipping Location the shipment is being shipped from. This can be populated with either the Shipping Location ID assigned by PRO SHIPPING or the Shipping Location Alias set when the Shipping Location was created. Both can be viewed in the Shipping Location GUI.\r<br />Mandatory if there is more than one Shipping Location available for the Shipping Account",
            "nullable": true,
            "example": "1234567890"
          },
          "ShippingAccountId": {
            "maxLength": 36,
            "minLength": 1,
            "type": "string",
            "description": "Shipping Account the shipment is being created for. This can be populated with either the Shipping Account ID assigned by PRO SHIPPING Shipping Account ID or the Shipping Account Alias set when the Shipping Account was created.Both can be viewed in the Shipping Account GUI.",
            "example": "Manchester Hub"
          },
          "ServiceCode": {
            "maxLength": 4,
            "minLength": 3,
            "type": "string",
            "description": "The code of the shipping service used to deliver the shipment.",
            "example": "CRL1"
          },
          "ServiceLevel": {
            "maxLength": 2,
            "minLength": 2,
            "pattern": "^(?!00)[0-9]{2}$",
            "type": "string",
            "description": "The Royal Mail service level of the service specified in the ServiceCode field.\r<br />Valid values are 01-99.\r<br />Defaults to lowest service level available for the specified service if not provided.",
            "nullable": true,
            "example": "01"
          },
          "ServiceEnhancementCode": {
            "$ref": "#/components/schemas/RoyalMailPreAllocatedTrackingNumberEnhancementCode"
          },
          "Destination": {
            "$ref": "#/components/schemas/DestinationDetails"
          }
        },
        "additionalProperties": false,
        "description": "Royal Mail Get Pre Allocated Tracking Number Request"
      },
      "PreAllocateTrackingNumberResponse": {
        "type": "object",
        "properties": {
          "TrackingNumber": {
            "type": "string",
            "description": "The pre-allocated tracking number .",
            "nullable": true,
            "example": "TT123456785GB"
          }
        },
        "additionalProperties": false,
        "description": "Royal Mail Get Pre Allocated Tracking Number Response"
      },
      "PrintDocumentRequest": {
        "type": "object",
        "properties": {
          "DocumentType": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "NumberOfCopies": {
            "maximum": 5,
            "minimum": 1,
            "type": "integer",
            "description": "Number of Copies",
            "format": "int32",
            "default": 1
          },
          "EoriNumber": {
            "maxLength": 17,
            "type": "string",
            "description": "EORI Number\r<br />Shipper/Receiver's EORI number starts with the ISO Alpha-2 Country Code followed by a maximum 15 alphanumeric characters. For Northern Ireland starts with XI\r<br />Overrides the shipper's EORI number on the shipment if provided.\r<br />If both an EORI and VAT number exist, then only the EORI Number is printed on the CN23.",
            "nullable": true,
            "example": "GB 123 4567 89 000"
          },
          "VatNumber": {
            "maxLength": 15,
            "type": "string",
            "description": "VAT Number\r<br />Overrides the shipper's VAT number on the shipment if provided.",
            "nullable": true,
            "example": "GB 123 4567 89"
          },
          "ReasonForExport": {
            "maxLength": 30,
            "type": "string",
            "description": "Reason for Export\r<br />Overrides the shipment's Reason for Export if provided.\r<br />If the carrier is UPU affiliated, then the allowed Reason for Exports are:\r<br />**Gift**\r<br />**Commercial Sample**\r<br />**Documents**\r<br />**Sale of Goods**\r<br />**Return of Goods**\r<br />**Mixed Content**\r<br />**Other**",
            "nullable": true,
            "example": "Gift"
          },
          "Name": {
            "maxLength": 40,
            "type": "string",
            "description": "Shipper's Name\r<br />Override the shipment's shipper's company/contact name if provided.",
            "nullable": true,
            "example": "Jane Brown"
          },
          "Position": {
            "maxLength": 50,
            "type": "string",
            "description": "Position\r<br />The shipper's job title in the sender's company.\r<br />*Note: The field can only be used with the proforma and commercial invoice. It will be ignored for CN23s.*",
            "nullable": true,
            "example": "Logistics Manager"
          },
          "SignatureImage": {
            "type": "string",
            "description": "Signature Image\r<br />Base 64 encoded PNG or JPEG. Maximum image size supported is 240 x 34 pixels.\r<br />*Note: The field can only be used with the proforma and commercial invoice. It will be ignored for CN23s.*",
            "nullable": true,
            "example": "iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"
          },
          "CompanyStampImage": {
            "type": "string",
            "description": "Company Stamp Image\r<br />Base 64 encoded PNG or JPEG. Maximum image size supported is 600 x 66 pixels.\r<br />*Note: The field can only be used with the proforma and commercial invoice. It will be ignored for CN23s.*",
            "nullable": true,
            "example": "iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"
          }
        },
        "additionalProperties": false,
        "description": "Print Document Request"
      },
      "PrintDocumentResponse": {
        "required": [
          "Document",
          "DocumentType"
        ],
        "type": "object",
[...]
